<link rel="stylesheet" href="/stylesheets/home-style.css"/>
<link rel="stylesheet" href="/stylesheets/queue-style.css"/>
<link rel="stylesheet" href="/stylesheets/admin-queue-style.css"/>
<div class="queue-title">   
    <h1> Manage queue :</h1>
    <div>
        <img id="search-button" src="/images/queue/search.webp" alt="search">
        {{#if searching}}
            <a class="close-button" href="/queue" aria-label="Cancel search"> </a>
        {{/if}}
    </div>
</div>
<div class="commands-container">

    <div class="command-container ready">
        <div class="command-sub-container">
            <p class="title"> John Doe </p>
            <div class="close-button"> </div>
        </div>
        <div class="command-sub-container">
            <div class="com-id">
                <p class="command-id"> 1 </p>
                <div class="image-holder"> </div>
            </div>
            <div class="command-all">
                <div class="command-infos">
                    <p> Classico </p>
                    <p> Frites paprika </p>
                    <p> Coca Cola </p>
                </div>
                <div class="command-widgets">
                    <div class="wprepare">

                    </div>
                    <div class="send">

                    </div>
                    <div class="validate">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="command-container prepare">
        <div class="command-sub-container">
            <p class="title"> John Doe </p>
            <div class="close-button"> </div>
        </div>
        <div class="command-sub-container">
            <div class="com-id">
                <p class="command-id"> 2 </p>
                <div class="image-holder"> </div>
            </div>
            <div class="command-all">
                <div class="command-infos">
                    <p> Classico </p>
                    <p> Frites paprika </p>
                    <p> Coca Cola </p>
                </div>
                <div class="command-widgets">
                    <div class="wprepare">

                    </div>
                    <div class="send">

                    </div>
                    <div class="validate">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="command-container">
        <div class="command-sub-container">
            <p class="title"> John Doe </p>
            <div class="close-button"> </div>
        </div>
        <div class="command-sub-container">
            <div class="com-id">
                <p class="command-id"> 3 </p>
                <div class="image-holder"> </div>
            </div>
            <div class="command-all">
                <div class="command-infos">
                    <p> Classico </p>
                    <p> Frites paprika </p>
                    <p> Coca Cola </p>
                </div>
                <div class="command-widgets">
                    <div class="wprepare">

                    </div>
                    <div class="send">

                    </div>
                    <div class="validate">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="command-container">
        <div class="command-sub-container">
            <p class="title"> John Doe </p>
            <div class="close-button"> </div>
        </div>
        <div class="command-sub-container">
            <div class="com-id">
                <p class="command-id"> 4 </p>
                <div class="image-holder"> </div>
            </div>
            <div class="command-all">
                <div class="command-infos">
                    <p> Classico </p>
                    <p> Frites paprika </p>
                    <p> Coca Cola </p>
                </div>
                <div class="command-widgets">
                    <div class="wprepare">

                    </div>
                    <div class="send">

                    </div>
                    <div class="validate">

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="page-selector">
    <a class="right-arrow" href="#" aria-label="Previous time frame"></a>
    <span> XXhXX </span>
    <a class="left-arrow" href="#" aria-label="Next time frame"></a>
</div>
<script src="/javascripts/queue.js"></script>