<link rel="stylesheet" href="/stylesheets/home-style.css"/>
<link rel="stylesheet" href="/stylesheets/spadmin-style.css"/>

{{#if authentified}}
<a class="button" href="/spadmin/disconnect" style="margin-bottom:15px; margin-left: auto;"> <button> Disconnect </button> </a>
<div class="registration-manager">
    <a href="/spadmin/updateRegistration" class="{{#if registrationOpen}} focused-button {{/if}} open">  Open registration </a>
    <a href="/spadmin/updateRegistration" class="{{#unless registrationOpen}} focused-button {{/unless}} close"> Close registration </a>
</div>
<h1> Navigate : </h1>
<nav> 
    <a href="/spadmin/manage">
        <img src="/images/spadmin/manage.webp" alt="Manage">
        <p> Settings </p>
    </a>
    <a href="/spadmin/databases">
        <img src="/images/spadmin/database.webp" alt="databases management page">
        <p> Databases </p>
    </a>
    <a href="/spadmin/time">
        <img src="/images/spadmin/clock.webp" alt="timestamps management page">
        <p> Timestamps </p>
    </a>
    <a href="/spadmin/queue">
        <img src="/images/layout/queue.webp" alt="Admin queue">
        <p> Manage queue </p>
    </a>
    <a href="/spadmin/kitchen">
        <img src="/images/queue/preparation.webp" alt="kitchen">
        <p> Kitchen tab </p>
    </a>
    <a href="/display">
        <img src="/images/spadmin/display.webp" alt="Room Display">
        <p> Room Display </p>
    </a>
    <a href="/logs">
        <img src="/images/spadmin/logs.webp" alt="Admin log page">
        <p> Logs </p>
    </a>
</nav>
{{else}}
<link rel="stylesheet" href="/stylesheets/home-style.css"/>
<h1> Authentification : </h1>
<form action="/spadmin" method="POST">
    <div class="input-div">
        <label for="password"> Password : </label>
        <input type="password" id="password" name="password" maxlength="100"/>
    </div>
    <input type="submit" value="Submit" id="submit-button"/>
</form>
{{/if}}