<h1> Cookies </h1>

This website only uses cookies that are necessary in order for the services to function correctly. The website shall not make use of any cookies for tracking or following user activities.