<h1> Credits </h1>

<h3> This website making was supervised by the Spatul'As</h3>

<br style="width:100%; margin: 10px;">

<p> <strong> Main Developer, main general designer : </strong> Corentin Caugant </p>

<p> <strong> Main QA developer, UX & UI helper, main system administrator : </strong> Humbert de Chastellux </p>