<h1> General Terms of Use </h1>

<p> This website allows you to register for a meal from the Spatul'As, a non-profit student group. It also provides you with a queue, to see when your meal is ready. </p>

<p> 
    By using this service, you agree to pay the price mentioned on the home page for your meal before retrieving it. You also agree, in case your meal 
    is ready but you did not retrieve it in due time, to forfeit your right to retrieve it, if and only if you did not pay beforehand. 
</p>

<br style="width:100%; margin: 10px;"> This Agreement shall be effective as of the moment you connect on this website, and shall remain in effect for so long as the User uses or accesses any of the Services provided. Upon termination of the Term, the User shall no longer be permitted to use or access the Services.

<br style="width:100%; margin: 10px;"> It is forbidden to :
<p>
    Lease, sell, copy, sublicense, transfer, or assign any information, intellectual property, goods, or services provided on the site. 
</p>

<p>
    Use this website for any illegal purpose.
</p>

<p>
    Gain unauthorized access to the website's data and alter them in any way without proper authorization.
</p>

<p>
    Use the website to transmit content that could be deemed unlawful, threatening, harassing, racist, abusive, libelous, pornographic, vulgar, defamatory, obscene, indecent, or otherwise inappropriate, including any messages constituting or encouraging criminal conduct.
</p>

<p>
    Try in any way to breach, or attempt breaching, the website's security system.
</p>

<p>
    Use or enable any third party to violate the General Terms of Use.
</p>

<br style="width:100%; margin: 10px;"> This website may be subject to shutdowns or maintenances for many reasons. In case this happens while using it, you may contact the Spatul'As or any administrator.

<br style="width:100%; margin: 10px;"> Amendments to the Terms of Use should only be effectuated by the mutual written consent of the Spatul'As and the individual user.

<br style="width:100%; margin: 10px;"> <p> This website is licensed under the MIT License. </p>