<link rel="stylesheet" href="/stylesheets/home-style.css"/>
<img class="huge-logo" src="/images/home/huge_logo.webp" alt="Logo Spatul'As X Corentin">
<div class="message-container">
    <h1> Registrations are not open ! </h1>
    <em> Come back later... </em>
</div>
