<link rel="stylesheet" href="/stylesheets/home-style.css"/>
{{#if registrationOpen}}
    <h1> Registration for Monday, 01 of January </h1>
    <form action="register" method="POST">
        <div class="name-holder">
            <div class="input-div">
                <label for="last-name"> Last Name </label>
                <input type="text" id="last-name" name="last-name" placeholder="Doe">
            </div>
            <div class="input-div">
                <label for="first-name"> First Name </label>
                <input type="text" id="first-name" name="first-name" placeholder="John">
            </div>
        </div>
        <div class="input-div">
            <label for="burger"> Burger </label>
            <select name="burger" id="burger">
                <option value="classico" id="classico" data-price="5.00"> Classico (5.00€): Steak, cheddar, homemade sauce </option>
                <option value="chevre" id="chevre" data-price="5.00"> Chèvre (5.00€): Steak, goat cheese, homemade sauce </option>
                <option value="vege" data-price="5.00"> Végé (5.00€): vegetarian steak, raclette, homemade sauce </option>
            </select>
        </div>
        <div class="input-div">
            <label for="fries"> Fries </label>
            <select name="fries" id="fries">
                <option value="paprika"> Paprika fries </option>
            </select>
        </div>
        <div class="input-div">
            <label for="drink"> Drink </label>
            <select name="drink" id="drink">
                <option value="coke"> Coca Cola </option>
                <option value="orangina"> Orangina </option>
                <option value="ice-tea"> Ice Tea </option>
                <option value="no-drink" data-price="-0.50"> No Drink (-0.50€) </option>
            </select>
        </div>
        <div class="input-div">
            <label for="time"> Pick up time </label>
            <select name="time" id="time">
                <option value="19">19H00</option>
            </select>
        </div>
        <div class="input-div input-div-checkbox">
            <input type="checkbox" name="accept" id="accept">
            <label for="accept"> I hereby consent to pay <bold id="price-range"> IF YOU SEE THIS PLEASE REPORT IT </bold> to receive my command</label>
        </div>
        <input type="submit" value="Submit" id="submit-button" disabled/>
    </form>
    <script src='/javascripts/home.js'> </script>
{{else}}
    <img class="huge-logo" src="/images/home/huge_logo.webp" alt="Logo Spatul'As X Corentin">
    <div class="message-container">
        <h1> Registrations are not open ! </h1>
        <em> Come back later... </em>
    </div>
{{/if}}
