<link rel="stylesheet" href="/stylesheets/spadmin-style.css"/>
<h1> Kitchen tab </h1>

<h2> Burgers : </h2>

<table>
    <tr>
        <th> Classico </th>
        <td> x5 </td>
    </tr>
    <tr> 
        <th> Chèvre </td>
        <td> x2 </td>
    </tr>
    <tr>
        <th> Végé </th>
        <td> x3 </td>
    </tr>
</table>

<h2> Fries : </h2>

<table>
    <tr>
        <th> Paprika </th>
        <td> x10 </td>
    </tr>
</table>