<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title> {{title}} - Spatul'As </title>
    <link rel="stylesheet" href="/stylesheets/layout-style.css"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/images/favicons/site.webmanifest">
    <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/images/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/images/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <header> 
      <div class="logo-holder"> <a href="/"> <img src="/images/layout/logo.webp" alt="Logo Spatul'As X Corentin"> </a> </div>
      <div class="protected-access"> 
        {{#if admin}}
          <a style="margin-right:5px" href="/spadmin"> <img src="/images/layout/cog.webp" alt="Admin"> </a>
        {{/if}}
        <a href="/queue"> <img src="/images/layout/queue.webp" alt="Queue"> </a>
        </div>
    </header>
    <div class="main-content">
      <div class="header-filler"> </div>
      <div class="content">
        <div class="error-message invisible" style="margin-bottom:10px"> <p> Error : Connection with the server has been lost. Please wait to see if the connection is reestablished. </p>
          <p> If the problem persists, please contact an admin. </p>
        </div>
        {{{body}}}
      </div>
      <footer>
          <div class="contacts-container"> 
            <a class="invisible" href="#"> <img src="/images/layout/facebook.webp" alt="Facebook"> </a>
            <a class="invisible" href="#"> <img src="/images/layout/twitter.webp" alt="Twitter"> </a>
            <a href="https://discord.gg/VcMewTUfyV"> <img src="/images/layout/discord.webp" alt="Discord"> </a>
            <a href="https://github.com/Dahan13/spatulas"> <img src="/images/layout/github.webp" alt="Github"> </a>
          </div>
          <div class="links-container"> 
            <a href="/terms"> General Terms of Use </a>
            <a href="/credits"> Credits </a>
            <a href="/cookies"> Cookies </a>
          </div>
      </footer>
    </div>
    <div class="veil invisible"> 
      <div class="popup"> </div>
    </div>
    <script src='/javascripts/layout.js'> </script>
  </body>
</html>
