<link rel="stylesheet" href="/stylesheets/queue-style.css"/>
<div class="queue-title">   
    <h1> Queue :</h1>
    <img src="/images/queue/search.webp" alt="search">
</div>
<div class="commands-container">
    <div class="command-container">
        <span> 1 </span>
        <img src="/images/queue/ready.webp" alt="Ready">
    </div>
    <div class="command-container">
        <span> 2 </span>
        <img src="/images/queue/preparation.webp" alt="In Preparation">
    </div>
    <div class="command-container">
        <span> 3 </span>
    </div>
</div>




