<link rel="stylesheet" href="/stylesheets/home-style.css" />
<link rel="stylesheet" href="/stylesheets/queue-style.css" />
<link rel="stylesheet" href="/stylesheets/spadmin-style.css" />

<a class="button" href="/spadmin/" style="margin-bottom:15px"> <button> Back </button> </a>

<h2 id="generalParameters"> General Parameters : </h2>

<table>
    <tr>
        <th> Registration Day : </th>
        <td> {{day}} </td>
    </tr>
    <tr>
        <th> Kitchen limit : </th>
        <td> {{kitchenLimit}} </td>
    </tr>
</table>

<form action="/spadmin/updateRegistrationDay" method="POST" class="one-line-form">
    <div class="input-div">
        <label for="registrationDay"> Change Day </label>
        <input type="text" id="registrationDay" name="registrationDay" placeholder="Monday, 1st of January 1970"
            required>
    </div>
    <input type="submit" value="Update Registration Day" id="general-parameters-registration-day-submit-button" />
</form>

<form action="/spadmin/updateKitchenLimit" method="POST" class="one-line-form">
    <div class="input-div">
        <label for="kitchenLimit"> Kitchen limit </label>
        <input type="number" id="kitchenLimit" name="kitchenLimit" min="1" required>
    </div>
    <input type="submit" value="Update kitchen limit" id="general-parameters-kitchen-limit-submit-button" />
</form>

<h2> Actions : </h2>
<div class="actions-container">
    <a href="/spadmin/downloadUsers"> <button> Download user database
        </button> </a>
    <a href="/spadmin/clearUsers"
        onclick="return confirm('Are you sure ? There is no going back. You will lose all user data.')"> <button> Delete
            ALL users </button> </a>
    <a href="/spadmin/clearDatabases"
        onclick="return ((confirm('Are you sure ? This will clear the content of all databases. There is no going back')) ? confirm('Are you REALLY REALLY sure ? There is no WAY to go back. You will lose the content of all databases') : false )">
        <button> Clear databases </button> </a>
</div>

<form action="/spadmin/changePassword" method="POST" class="one-line-form">
    <div class="input-div">
        <label for="password"> Master Password </label>
        <input type="password" id="password" name="password" required maxlength="100">
    </div>
    <input type="submit" value="Change password" id="general-parameters-password-submit-button" />
</form>