/* General rules */

:root {
  --main-background-color: #E0E0E0;
  --text-color: #2F2F2F;
  --transparent-background: #2F2F2F88;
  --ready-color: #55D400;
}

* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  color : var(--text-color);
  min-height: 100%;
  max-width: 100vw;
  font-family: Calibri, Arial, 'Times New Roman', Times, serif, sans-serif;
  background-color: var(--main-background-color);
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--main-background-color)
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2rem;
  margin: 10px 0px 15px 0px;
  text-align: center;
}

/* Headers rules */

header {
  width: 100%;
  height: 70px;
  box-shadow: 0px 10px 8px 3px var(--text-color);
  background-color: var(--main-background-color);

  position: fixed;
  top: 0;
  right: 0;

  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.header-filler {
  width: 100vw;
  margin-bottom: 80px;
}

.logo-holder {
  margin-left: 5px;
  height: 60px;
}

.logo-holder > a > img {
  height: 60px;
}

.protected-access {
  margin-right: 5px;
  height: 60px;
}

.protected-access > a > img {
  height: 60px;
}

/* Main content rules */

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;
  width: 100vw;
}

.content {
  width: 95%;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}

/* Footer rules */

footer {
  width: 100vw;
  background-color: var(--text-color);
  height : 180px;
  margin-top: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.contacts-container {
  width: 100%;
  min-width: 240px;
  max-width: 400px;
  padding: 5px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.contacts-container > a > img {
  height: 50px;
}

.links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.links-container > a {
  margin-bottom: 2px;
}

/* Pop-up system */

.veil {
  position: fixed;
  top: 0;
  right: 0;

  width: 100vw;
  height: 100vh;
  overflow: hidden;

  background-color: var(--transparent-background);

  display:flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.veil:hover {
  cursor: pointer;
}

.popup {
  cursor: auto;

  width: 90%;
  min-height: 50%;
  margin-bottom: 15px;

  background-color: var(--main-background-color);
  border: 1px solid var(--text-color);
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.invisible {
  display: none;
}

.close-button {
  display: block;

  -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%); 
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);

  width: 25px;
  height: 25px;
  background: var(--text-color);
  z-index: 1;
  margin: 3px;
}

.close-button:hover {
  cursor: pointer;
}

.error-message {
  text-align: center; 
  color: red; 
  font-size:1.2rem; 
  background-color: #FF000044; 
  padding: 2px; 
  border-radius: 10px;
}

.go-back {
  width: 25px;
  height: 25px;

  -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%); 
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  background-color: var(--text-color);

  margin-top: 15px;
  margin-bottom: -8px;
}

@media only screen and (min-width: 1020px) {

  /* Headers rules on big screens */

  header {
    height: 90px;
  }

  .header-filler {
    margin-bottom: 115px;
  }

  .logo-holder {
    margin-left: 5px;
    height: 80px;
  }
  
  .logo-holder > a > img {
    height: 80px;
  }

  .protected-access {
    margin-right: 6px;
    height: 80px;
  }
  
  .protected-access > a > img {
    height: 80px;
  }

  /* Main content rules on big screens */

  .content {
    max-width: 1000px;
  }

  /* Footer rules on big screens */

  footer {
    height : 180px;
  }
  
  .contacts-container {
    max-width: 500px;
    width: 500px;
    margin-top: 25px;
  }
  
  .contacts-container > a > img {
    height: 90px;
  }
  
  .links-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
  }
  
  .links-container > a {
    margin-bottom: 2px;
  }

  .popup {
    width: 1000px;
    min-height: 30%;
  }

  .close-button {
    height: 35px;
    width: 35px;
    margin: 5px;
  }

  .go-back {
    width: 35px;
    height: 35px;
  }
}