h1 {
    text-align: left;
    margin: 0;
}

.queue-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    border-bottom: 3px solid var(--text-color);
    margin: 10px 0px 0px 0px;
}

.queue-title > img {
    height: 42px;
    margin: 3px;
}

.queue-title > img:hover {
    cursor: pointer;
}