/* Top of the page */

h1 {
    text-align: left;
    margin: 0;
}

.queue-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    border-bottom: 3px solid var(--text-color);
    margin: 10px 0px 0px 0px;
}

.queue-title > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.queue-title > div > img {
    height: 42px;
    margin: 3px;
    margin-right: 5px;
}

.queue-title > div > img:hover {
    cursor: pointer;
}

/* Queue content */

.commands-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    margin-top: 20px;
}
.command-wrapper {
    margin: 10px 5px 10px 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.command-name-container > p {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
}
.command-container {
    width: 100px;
    margin-top: -12px;
    margin-bottom: -8px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

.command-container > p {
    font-size: 4rem;
    font-weight: bold;

    width: 100%;
    text-align: center;
}

.ready > .image-holder {
    content: url("/images/queue/ready.webp");
    float: left;

    height: 50px;
}

.ready > p {
    color: var(--ready-color);
    width: auto;
}

.preparation > .image-holder {
    content: url("/images/queue/preparation.webp");
    float: left;

    height: 50px;
}

.preparation > p {
    width: auto;
}

/* Page selector */

.page-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    width: 200px;
    margin-top: 30px;
    align-self: center;
}

.page-selector > span {
    font-size: 1.6rem;
    font-weight: bold;
}

.right-arrow {
    -webkit-clip-path: polygon(0 50%, 100% 100%, 100% 0); 
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
    background: var(--text-color);

    width: 40px;
    height: 40px;
}

.left-arrow {
    -webkit-clip-path: polygon(100% 50%, 0 100%, 0 0); 
    clip-path: polygon(100% 50%, 0 100%, 0 0);
    background: var(--text-color);

    width: 40px;
    height: 40px;
}

.right-arrow:hover, .left-arrow:hover {
    cursor: pointer;
}

.arrow-placeholder {
    background-color: var(--main-background-color);
}

.arrow-placeholder:hover {
    cursor: auto;
}
/* Some form tweaks for the popup */

form {
    padding: 12px 6px 12px 6px;
}

h2 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bolder;
}

.reloader {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.reloader > img {
    width: 35px;
    height: 35px
}

.reloader > img {
    cursor: pointer;
}

.reloader > p {
    margin-right: 10px;
    font-weight: bold;
    color: #5A5A5A
}

@media only screen and (min-width: 1020px) {

    .command-wrapper {
        margin: 28px 14px 28px 14px;
    }

    .command-container {
        width: 180px;
    }

    .command-container > p {
        font-size: 8rem;
    }

    .ready > .image-holder {
        height: 100px;
    }
    
    .preparation > .image-holder {
        height: 100px;
    }

    .page-selector {
        width: 300px;
        margin-top: 50px;
    }

    .page-selector > span {
        font-size: 2rem;
    }

    .right-arrow {
        width: 50px;
        height: 50px;
    }
    
    .left-arrow {
        width: 50px;
        height: 50px;
    }

    form {
        padding: 20px 10px 20px 10px;
    }

    h2 {
        font-size: 2rem;
    }

    label {
        font-size: 1.4rem;
    }

    input {
        font-size: 1.2rem;
    }

    .input-div {
        margin-bottom: 20px;
    }

    .reloader {
        margin-top: 50px;
    }
    
    .reloader > img {
        width: 50px;
        height: 50px
    }
    
    .reloader > p {
        font-size: 1.2rem;
        margin-right: 20px;
    }
}