/* Top of the page */

h1 {
    text-align: left;
    margin: 0;
}

.queue-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    border-bottom: 3px solid var(--text-color);
    margin: 10px 0px 0px 0px;
}

.queue-title > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.queue-title > div > img {
    height: 42px;
    margin: 3px;
    margin-right: 5px;
}

.queue-title > div > img:hover {
    cursor: pointer;
}

/* Queue content */

.commands-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    margin-top: 20px;
}

.commands-container > p {
    font-size: 1.4rem;
    font-weight: bold;

    width: 100%;
    border-bottom: 1px solid var(--text-color);
    margin-bottom: 20px;
    margin-top: 40px;
}

.commands-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.command {
    width: 100%;
    display: flex;
    flex-direction: row;

    border: 1px solid var(--text-color);
    border-radius: 10px;
    margin: 3px 0px 3px 0px;
}

.command-name-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 100%;
    overflow: hidden;
}

.command-name-container > p {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 3px;
}

.infos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: 100%;
}

.command-container {
    width: 120px;
    border-right: 1px solid var(--text-color);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 3px;
    align-items: center;
    justify-content: center;
}

.command-container > p {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}

.ready > .image-holder {
    content: url("/images/queue/ready.webp");
    float: left;

    height: 30px;
}

.ready > p {
    color: var(--ready-color);
    width: auto;
}

.preparation > .image-holder {
    content: url("/images/queue/preparation.webp");
    float: left;

    height: 30px;
}

.preparation > p {
    width: auto;
}

.menu {
    width: 100%;
    margin-top: 5px;
    padding: 1px;
    border-top: 1px solid var(--text-color);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.menu-button {
    align-self: center;
    margin-right: 5px;
    padding: 5px;

    display: flex;
    align-items: center;
}

.menu-button:hover {
    cursor: pointer;
}

.menu-button > div {
    -webkit-clip-path: polygon(50% 100%, 0% 0%, 100% 0%); 
    clip-path: polygon(50% 100%, 0% 0%, 100% 0%);

    height: 15px;
    width: 20px;
    background-color: var(--text-color);
}

.food-holder {
    overflow: hidden;
}

/* Some form tweaks for the popup */

form {
    padding: 12px 6px 12px 6px;
}

h2 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bolder;
}

.reloader {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.reloader > img {
    width: 35px;
    height: 35px
}

.reloader > img {
    cursor: pointer;
}

.reloader > p {
    margin-right: 10px;
    font-weight: bold;
    color: #5A5A5A
}

@media only screen and (min-width: 1020px) {

    .command-wrapper {
        margin: 20px;
    }

    .command-container > p {
        font-size: 1.4rem;
    }

    .command-name-container {
        flex-direction: row;
        align-items: center;
    }

    .ready > .image-holder {
        height: 20px;
    }
    
    .preparation > .image-holder {
        height: 20px;
    }

    .food-holder {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .food-holder > p:after {
        content: ",";
        display: inline-block;
        margin-right: 5px;
    }

    .food-holder > p:last-of-type:after {
        content: "";
        display: inline-block;
        margin-right: 5px;
    }

    form {
        padding: 20px 10px 20px 10px;
    }

    h2 {
        font-size: 2rem;
    }

    label {
        font-size: 1.4rem;
    }

    input {
        font-size: 1.2rem;
    }

    .input-div {
        margin-bottom: 20px;
    }

    .reloader {
        margin-top: 50px;
    }
    
    .reloader > img {
        width: 50px;
        height: 50px
    }
    
    .reloader > p {
        font-size: 1.2rem;
        margin-right: 20px;
    }
}