/* This display is only intended for large screens. Therefore, the CSS will break on smaller screens. */

header, .header-filler {
    display: none;
}
.content {
    max-width: none;
}

footer {
    display: none;
}

table {
    border-collapse: collapse;
    width: 100%;
    align-self: center;
}
th {
    width: 50%;
    border-right: 5px solid var(--text-color);

    font-size: 6rem;
    font-weight: bold;
    padding: 10px;
}

th:last-of-type {
    border-right: none;
}

tr {
    width: 100%;
    border-bottom: 5px solid var(--text-color);
}

tr:last-of-type {
    border-bottom: none;
}

td {
    width: 100%;
    border-right: 5px solid var(--text-color);
}

td:last-of-type {
    border-right: none;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;

    width: 100%;
}

.ready-container, .preparation-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    font-size: 9rem;
    height: 100%;
    width: 50%;
    font-weight: bolder;
}

.ready-container > span, .preparation-container > span {
    text-align: center;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    margin: 5px;
    padding: 0 5px 0 5px;
}

.ready-container > p, .preparation-container > p {
    font-size: 7rem; 
    text-align: center; 
    margin-top: 40px
}

.ready-container {
    color: var(--ready-color);
}

.preparation-container {
    border-left: 5px solid var(--text-color);
    margin-left: -3px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }