.input-div {
    margin-top: 20px;
}

/* Navigation */

h1 {
    border-bottom: 3px solid var(--text-color);
    text-align: left;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 20px 0;
}

nav > a {
    width: 200px;
    padding: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    margin: 10px;
    margin-bottom: 30px;
    border: 3px solid var(--main-background-color);
    border-bottom: 3px solid var(--text-color);
}

nav > a:hover {
    border: 3px solid var(--text-color);
}

nav > a > img {
    height: 100px;
}

nav > a > p {
    color: var(--text-color);
    width: 100%;
    text-align: center;
}

/* Kitchen */

table {
    border-collapse: collapse;
    width: 95%;
    align-self: center;
}

h2 {
    border-bottom: 2px solid var(--text-color);
    margin: 20px 0 10px 0;
}

h3 {
    margin: 10px 0 5px 0;
}

td {
    text-align: center;
}

tr {
    border-bottom: 1px solid var(--text-color);
}

tr:last-of-type {
    border: none;
}

.one-line-form {
    flex-direction: row;
}

.one-line-form > input[type='submit'] {
    margin-left: 10px;
}

@media only screen and (min-width: 1020px) {

    .input-div {
        margin-top: 30px;
    }

    nav {
        flex-direction: row;
        margin-top: 80px;
    }

    h2 {
        margin: 30px 0 20px 0;
    }

    th {
        font-size: 1.2rem;
    }

    td {
        font-size: 1.1rem;
    }

    .one-line-form > input[type='submit'] {
        margin-left: 50px;
    }
}